@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans+Condensed:wght@300&family=Playfair+Display:wght@500&display=swap');

body {
    background-color: #000;
}

/*---------------------------------------------------------------------Navbar*/
.header-bg {
    background: url("../images/sieg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30em;
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: "EB Garamond", sans-serif;
}

.nav-link {
    font-family: "Playfair Display", sans-serif;
}

/*---------------------------------------------------------------------Home*/
.introduction h1 {
    text-align: center;
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

.introduction h1 span {
    color: #FFDF00;
}

.introduction h3 {
    text-align: center;
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

.environment h4 {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-top: 50px;
    text-align: center;
}

.environment p {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
}

.special h4 {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-top: 25px;
    text-align: center;
}

.special p {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: justify;
    margin: 0 auto;
    width: 500px;
}

/*---------------------------------------------------------------------Form*/
.application h4 {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-top: 50px;
    text-align: center;  
}

.application p {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;   
}

.form-group label {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

/*---------------------------------------------------------------------Gallery*/
.gallery-slide {
    margin-top: 50px;
}


/*---------------------------------------------------------------------Footer*/
.footer-hr {
    border-color: #fff;
}

.socialmedia li a {
    color: #FEF9F6;
}

/* ----------------------------------------Media Queries */
@media(max-width: 768px) {
    .special p {
        width: 320px;
    }
}
