@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans+Condensed:wght@300&family=Playfair+Display:wght@500&display=swap');

body {
    background-color: #000;
}

/*---------------------------------------------------------------------Navbar*/
.header-bg {
    background: url("../images/sieg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30em;
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: "EB Garamond", sans-serif;
}

.nav-link {
    font-family: "Playfair Display", sans-serif;
}

/*---------------------------------------------------------------------Home*/
.introduction h1 {
    text-align: center;
    font-family: "EB Garamond", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: underline;
}

.introduction h1 span {
    color: #FFDF00;
}

.introduction h3 {
    text-align: center;
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

.environment h4 {
    font-family: "Playfair Display", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-top: 50px;
    text-align: center;
}

.environment p {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
}

.special h4 {
    font-family: "Playfair Display", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-top: 25px;
    text-align: center;
}

.special p {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: justify;
    margin: 0 auto;
    width: 500px;
}

/*---------------------------------------------------------------------Form*/
.application h4 {
    font-family: "Playfair Display", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-top: 50px;
    text-align: center;  
}

.application p {
    font-family: "Open Sans Condensed",sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;   
}

.input-field input, .input-field textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}

#error_message {
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0px;
    background: #FFDF00;
    text-align: center;
    transition: all 0.5s ease;
}

/*---------------------------------------------------------------------Gallery*/
.gallery-slide {
    margin-top: 50px;
}

/*---------------------------------------------------------------------Game*/
.game-title {
    font-family: "Open Sans Condensed",sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    color: #fff;
    font-size: 4em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    perspective: 500px;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info p {
    font-family: "Open Sans Condensed",sans-serif;
    letter-spacing: 1px;
    color: #fff;
    font-size: 30px;
}

.card {
    position: relative;
    background-color: #000;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0)
}

.card-front {
    border-color: #000;
    transform: rotateY(180deg);
}

.card-back {
    border-color: #000;
}

.astro-card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card:hover .astro-card {
    transform: scale(1.1);
    transition: transform 1s;
}

/*---------------------------------------------------------------------Footer*/
.footer-hr {
    border-color: #fff;
}

.socialmedia li a {
    color: #FEF9F6;
}

/* ----------------------------------------Media Queries */
@media(max-width: 768px) {
    .special p {
        width: 320px;
    }
}